<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" >
    <title>Art Classes</title>
    <link rel="icon" type="image/jpg" href="img/MadhanMohan.jpg">

    <!--<link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body ng-app="app" ng-controller="mainCtrl">
<div class="wrap">
    <header class="main-header">


            <ul class="main-nav" id="navs">
                <li class="active-tab"><a href="" ng-click="showHome()" >Home</a></li>
                <li><a href="" ng-click="showGallery()"> Gallery</a></li>
                <li><a href="" ng-click="showEducation()">Register</a></li>
                <li><a href="" ng-click="showContact()">Contact</a></li>
            </ul>

            <h1 >Creative Flow Academy</h1>





    </header>
    <div class="content" ng-if="bshowHome">

        <p class="tag">A perfect place to sharpen your drawing skills </p>

        <video width="100%" muted src="img/bgMovie.mp4" type="video/mp4" autoplay loop>
            Your browser does not support this streaming content.</video>


    </div>

    <div image-gallery ng-if="bshowGallery"></div>



</div>

<footer class="main-footer" >

<span>&copy;CFA, All rights reserved

</span>



</footer>

<!--scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="app/app.js"></script>

</body>
</html>
